.mouse-tracker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.cursor {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid #d7351c;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1000s ease-in-out 0s;
}


.cursor:hover {
    transform: scale(1.5);
}

.cursor:hover {
    transform: scale(0.7);
}